[Unit]
Description=display averages. Swarm!
After=default.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/swarm
ExecStart=/home/pi/swarm/.venv/bin/python /home/pi/swarm/display.py
StandardOutput=journal
StandardError=journal
Environment="PATH=/home/pi/swarm/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=default.target
